# [Multiples of 3 and 5](https://projecteuler.net/problem=1)

> If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
> 
> Find the sum of all the multiples of 3 or 5 below 1000.

This is reminiscent of the classic computer job interview problem, “[FizzBuzz](https://www.youtube.com/watch?v=QPZ0pIK_wsc)” (which is itself based on an old children’s game). In essence, while counting, do something when a number is a multiple of 3, something else when a multiple of 5, a third thing when a multiple of both, and a default thing otherwise.

In [1]:
for n in 1:50
    if n % 15 == 0
        println("FizzBuzz")
    elseif n % 3 == 0
        println("Fizz")
    elseif n % 5 == 0
        println("Buzz")
    else
        println(n)
    end
end

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

Our problem is a little easier because we can do the same thing if our number is a multiple of 3, 5, or both:

In [2]:
s = 0
for n in 1:999
    if n % 3 == 0 || n % 5 == 0
        s += n
    end
end
s

233168

However, we have to be careful again if we start thinking with more mathematical notation: 
$$ \sum\limits_{i=1}^{ \lfloor 999 / 3 \rfloor}3i + \sum\limits_{i=1}^{\lfloor 999 / 5 \rfloor}5i = 266333 $$
counts the multiples of 15 twice. We have to subtract off one sum of multiples of 15 to get the answer we’re looking for: $$ \sum\limits_{i=1}^{ \lfloor 999 / 3 \rfloor}3i + \sum\limits_{i=1}^{\lfloor 999 / 5 \rfloor}5i - \sum\limits_{i=1}^{ \lfloor 999 / 15 \rfloor}15i = 233168 $$

In code, we see that:

In [3]:
sum(3:3:999) + sum(5:5:999)

266333

but

In [4]:
sum(3:3:999) + sum(5:5:999) - sum(15:15:999)

233168

About ranges in Julia: `1:999` is a set of numbers (*integers*) starting at 1 and ending at 999; so, `1, 2, 3, 4, …, 998, 999`. They can also have an increment other than one: `3:3:999` represents the numbers starting at 3, incremented by three, ending at 999; so, `3, 6, 9, …, 996, 999`. We can do set operations on these, so `(3:3:999) ∪ (5:5:999)` only contains the multiples of 15 once: `…, 9, 10, 12, 15, 18, 20, …`. That means that we can do this problem with one line like this:

In [5]:
sum((3:3:999) ∪ (5:5:999))

233168